.pagina-VeiculoHome {
    display: flex;
    flex-direction: row;
    width: 100%;

    .principal {
        display: flex;
        flex-direction: column;
        background: #F5F6FA;
        width: 100%;

        main {
            padding: 50px;

            >p {
                color: #CF5B00;
                font-family: 'work sans';
                font-weight: 700;

            }

            >h1 {
                color: #000;
                font-family: 'work sans';
                font-weight: 600;
                margin-bottom: 30px;
            }

            .newVeiculos {
                display: flex;
                flex-direction: column;

                width: 100%;
                padding: 50px 40px;
                background-color: white;
                box-shadow: 0px 0px 8px rgba(122, 122, 122, 0.250);
                margin-bottom: 50px;

                >h1 {
                    font-family: 'work sans';
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 30px;
                }

                .inputs-newVeiculos {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-bottom: 20px;

                    label {
                        position: relative;
                        top: 22px;
                        left: 10px;

                        font-family: 'inter';
                        font-weight: 800;
                        font-size: 12px;
                        color: #747474;

                    }

                    input {
                        width: 323px;
                        height: 50px;
                        border-radius: 4px;
                        border: none;
                        border: 1px solid #c7c7c7;
                        outline: none;

                        font-family: 'inter';
                        font-weight: 400;
                        color: #616161;
                        font-size: 16px;
                        padding: 20px 10px 8px;
                    }

                    select {
                        width: 323px;
                        height: 50px;
                        border-radius: 4px;
                        border: none;
                        border: 1px solid #c7c7c7;
                        outline: none;

                        font-family: 'inter';
                        font-weight: 400;
                        color: #616161;
                        font-size: 16px;
                        padding: 20px 10px 8px;
                    }
                }

                .buttons {

                    display: flex;
                    gap: 10px;

                    button {
                        align-self: flex-start;
                        background: #7A14C0;
                        color: white;
    
                        font-family: 'inter';
                        font-weight: 600;
                        font-size: 12px;
                        border: none;
                        border-radius: 3px;
                        width: 100px;
                        height: 36px;
                        cursor: pointer;
                    }

                }

                
            }

            .listVeiculos {
                display: flex;
                flex-direction: column;

                width: 100%;
                padding: 50px 40px;
                background-color: white;
                box-shadow: 0px 0px 8px rgba(122, 122, 122, 0.250);


                >h1 {
                    font-family: 'work sans';
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 30px;
                }

                >label {
                    position: relative;
                    top: 22px;
                    left: 10px;

                    font-family: 'inter';
                    font-weight: 800;
                    font-size: 12px;
                    color: #747474;
                }

                nav {
                    input {
                        width: 323px;
                        height: 50px;
                        border-radius: 4px;
                        border: none;
                        border: 1px solid #c7c7c7;
                        outline: none;

                        font-family: 'inter';
                        font-weight: 400;
                        color: #616161;
                        font-size: 16px;
                        padding: 20px 40px 10px 8px;
                    }

                    img {
                        position: relative;
                        right: 35px;
                    }
                }
            }

            .table-listVeiculos {

                margin-top: 50px;

                table {
                    border-collapse: collapse;
                }
                
                
                
                thead {

                    tr {
                        th {
                            text-align: left;
                            width: 223px;
                            color: #A8A8A8;
                            font-family: 'inter';
                            font-weight: 600;
                            font-size: 16px;
                            padding: 0 30px 20px;


                        }
                    }
                }

                tbody {

                    tr {

                        border: 1.32px solid #d4d4d4;
                        height: 53px;

                        img {
                            position: relative;
                            top: 15px;
                            cursor: pointer;
                        }

                        img:last-child {
                            padding-right: 30px;
                        }

                        td {
                            font-family: 'inter';
                            font-weight: 600;
                            font-size: 14px;
                            color: #3C4261;

                            padding: 0 30px;
                        }
                    }
                }
            }


        }
    }
}